.nav-days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1rem;
}


.nav-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .35rem;
    font-size: 1rem;
    color: black;

}

.date{
    width: 12rem;
    text-align: center
}


.nav-icon{
    color: var(--main-orange-color);
}

.nav-days button{
    background: none;
    border: none;
    cursor: pointer;
}

.share-button{
    color:var(--main-orange-color);
    
}

.food-stats{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #62574c;
}

.food-stats-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.stat-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.meal-cat{
    border-top: 1px solid #eaeaea;
    color: var(--main-orange-color);
}

.meal-cat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}


.meal-cat-labels{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: black;
    
}


.meal-title{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1rem;
}

.meal-icon{
    color:var(--main-orange-color);
    
}

.add-food{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    background: none;
    color: var(--main-orange-color);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;


}


.food-item{
    padding: .2rem;
    margin: .1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    /* justify-content: space-between; */
    color: #62574c;
    cursor: pointer;
}

.delete-food-item{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.middle-item{
    display: flex;
    gap: .25rem;
    align-items: center;
}

.food-item-amount{
    color: #62574c;
    width: 100px;
}

.food-item-amount:focus{
    outline: 2px solid var(--main-orange-color);
}

.delete-icon{
    color: var(--main-orange-color);
}

.right-item{
    display: flex;
    gap: 1.5rem;
}

.details{
    color: var(--main-orange-color);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.added-items{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.left-item{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.left-item input{
    width: 50px;
    height: 30px;
    color: #62574c;
    font-size: inherit;
    line-height: inherit;
    padding: 3px;
    border: none;
    background: none;
    text-align: end;
}

.left-item input:focus{
    outline: 2px solid var(--main-orange-color);
}


.no-foods-tracked{
    color: lightgray;
}